@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = "暂无内容";
    }
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}


<div class="cloud-area">
    <div class="cloud-original">
        <div class="error">╮(╯Д╰)╭ <br/>暂无考试</div>
    </div>
</div>
