
@{
    ViewBag.Title = "考试";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="center">
<div class="bg">
	<div class="banner"></div>
	<div class="logo"></div>
	<div class="cloud-area">
	<div class="are-you-ready"></div>
	</div>
	<div class="cloud-area">
	<div class="infos">本次考试共<span style="text-decoration:underline;text-align: center;">50</span>题</div>
	<div class="infos">考试时间19:00-20:00</div>
	</div>
	<div class="bg-left"></div>
	<div class="bg-right"></div>
</div>
</div> 