@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = Model.Exam.Name;
    }
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

@model Senluo.Spellet.Models.AnswerSheet
<div class="cloud-area">
    <div class="infos">您已完成本次测试</div>
    <div class="infos">成绩： @(Model.TotalScore*100/Model.Exam.Count) 分</div>
</div>
<div class="cloud-area">
    <div class="cloud-tiny left-220">
        <a href="javascript:void(0);" >查看详情</a>
    </div>
</div>
