@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = "成绩查看";
    }
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}


<div class="cloud-area">
    <div class="infos">您已经参加过本次考试</div>
</div>
<div class="cloud-area">
    <div class="cloud-tiny left-220">
        <a href="javascript:void(0);" >查看成绩</a>
    </div>
</div>
