@model Senluo.Spellet.Areas.Student.Models.AnswerSheetVM




<div class="modal" style="width: 70%;">
    <div >
    <ul>
    
        @for (int index = 0; index < Model.Answers.Count();index++ )
        {
            var item = Model.Answers.ElementAt(index);
            <li class="list">
                @index . 
                @Html.Raw(item.OriginSentense.Replace(item.Expect, "<span style=''>"+item.Filling + "</span>"))
                <span class="answer" style="display: block;">(@item.Expect)</span>
                @if (item.IsRight)
                {

                }
                else
                {
                
                }
            </li>
        }
    </ul></div>
</div>