@{
    ViewBag.Title = "自测";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/Scripts/Student/test.js"></script>
<div class="cm_dg cm_label">
    <div class="cm_ht">
        <mh>Exam</mh>
        <a href="javascript:;">X</a>
    </div>
    <div class="cm_bd" id="examPannel">
    </div>
</div>
<div class="cloud-area">
    <div class="test-self"></div>
</div>
<div class="cloud-area">
    <div class="iwant">
        <input type="text" class="number"/>
    </div>
</div>
<div class="cloud-area">
    <div class="cloud-tiny left-220">
        <a href="javascript:void(0);" class="go" onclick="selfHistory(1);"></a>
        @*<div class="go"></div>*@
    </div>
</div>
