
@{
    ViewBag.Title = "自测";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="center">
<div class="bg">
	<div class="banner"></div>
	<div class="logo"></div>
	<div class="cloud-area">
	<div class="test-self"></div>
	</div>
	<div class="cloud-area">
	<div class="iwant"></div>
	</div>
	<div class="cloud-area">
	<div class="cloud-tiny left-220"><div class="go"></div></div>
	</div>
	<div class="bg-left"></div>
	<div class="bg-right"></div>
</div>
</div> 