@{
    ViewBag.Title = "成功";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="cloud-area">
    <div class="congratulations"></div>
</div>
<div class="cloud-area2">
    <div class="cloud-middle"><a href="~/student/course/history" class="review"></a></div>
    <div class="cloud-middle"><a href="~/student/test/self" class="self-test"></a></div>
</div>
