@{
    ViewBag.Title = "成功";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
<div class="center">
<div class="bg">
	<div class="banner"></div>
	<div class="logo"></div>
	<div class="cloud-area">
	<div class="congratulations"></div>
	</div>
	<div class="cloud-area2">
	<div class="cloud-middle"><a href="" class="review"></a></div>
	<div class="cloud-middle"><a href="" class="self-test"></a></div>	
	</div>
	
	<div class="bg-left"></div>
	<div class="bg-right"></div>
</div>
</div> 