
@{
    ViewBag.Title = "课程管理";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
@section Script
{
    <script type="text/javascript" src="~/Content/Scripts/datatable.js"></script>
}
<script type="text/javascript">
    $(function () {
        var colModel = [
            {field:'ID', caption:"编号", width:80, renderer:function(tbl, record, td) {
                td.html('<a title="点击以编辑" href="/admin/course/modify?id=' + record.ID + '">' + record.ID + '</a>');
            }
            },
            {field:'Name',caption:'名称',width:100},
            { field: 'StartTime', caption: '开始时间',width:200 },
            { field: 'Content', caption: '学习内容', renderer:function(tb, record, td) {
                if (record.Contents && record.Contents.length) {
                    var words = [];
                    $.each(record.Contents, function(idx, ctx) {
                        if (ctx.Entry) {
                            words.push(ctx.Entry.Word);
                        }
                    })
                    td.html(words.join(' '));
                }
            }
            },
            { field:'', caption:'操作',width:100,renderer:function(tbl, record, td) {
                td.html('<a class="button primary" href="/admin/course/modify?id=' + record.ID + '">修改</a>');
            }}
        ];
        $("#tableDiv").datatable({
            colModel: colModel,
            url: '/admin/course/list',
            cls: 'table striped bordered hovered'
        });
    })
</script>

<div id="tableDiv">
    <a class="button bg-white bd-olive large" href="/admin/course/create" type="button"><i class="icon-plus-2 on-left-more"></i>新增</a>
</div>
