
@{
    ViewBag.Title = "首页";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="center">
<div class="bg">
	<div class="banner"></div>
	<div class="logo"></div>
	<div class="cloud-area">
	<div class="cloud"><a href="/student/course/today" class="course-today"></a></div>
	<div class="cloud-middle"><a href="/student/course" class="course-history"></a></div>
	</div>
	<div class="cloud-area">
	<div class="cloud-small"><a href="/student/test/self" class="course-self"></a></div>
	<div class="cloud-small"><a href="/student/test" class="course-exam"></a></div>	
	</div>
	
	<div class="bg-left"></div>
	<div class="bg-right"></div>
</div>
</div> 