

@{
    ViewBag.Title = "创建考试";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#submitBtn').on('click', function () {
            
            var data = $('form').getValues();
            if (!data.Count) {
                $.error('数量不能为空');
                return;
            }
            if (!data.DurationMinite) {
                $.error('持续时间不能为空')
                return;
            }
            $.ajax({
                url: '/admin/exam',
                type: 'post',
                data: data,
                success: function (res) {
                    if (res.success) {
                        window.location.href = '/admin/exam/modify?id=' + res.item.ID;
                    } else {
                        $.error(res.msg);
                    }
                }
            })
            

            $('#words a i').on('click', function () {
                var me = this;
                $.ajax({
                    url: '/admin/exam/question',
                    type: 'delete',
                    data: { ID: $(me).attr('data-cc-id') },
                    success: function (res) {
                        if (res.success) {
                            $(me).parent().remove();
                        } else {
                            $.error(res.msg);
                        }
                    }
                })
            })
        })
    })

</script>
<form>
    <div class="grid">
        <div class="row">
            <div class="span9 offset1">
                <div class="row">
                    <div class="span2">
                        名称：
                    </div>
                    <div class="span4">
                        <div class="input-control text" data-role="text">
                            <input type="text" placeholder="请填写名称" name="Name" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span2">
                        <label>试题总数：</label>
                    </div>
                    <div class="span4">
                        <div class="input-control text" data-role="text">
                            <input type="number" name="Count" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span2">
                        <label>考试持续时间（分钟）：</label>
                    </div>
                    <div class="span4">
                        <div class="input-control text" data-role="text">
                            <input type="number" name="DurationMinite" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="primary large" type="button" id="submitBtn">创建</button>
                </div>
            </div>
        </div>
    </div>
</form>
