@{
    ViewBag.Title = "成绩查看";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
@section Script
{
    <script type="text/javascript" src="~/Content/Scripts/datatable.js"></script>
}
<script type="text/javascript">
    $(function () {
        var filter = @Html.Raw(ViewBag.Filter);
        var colModel = [
            {
                field: 'Exam.Name', caption: "考试名称", width: 80,renderer:function(tbl, record, td) {
                    if (record.Exam) {
                        td.html( '<a title="查看/编辑考试信息" href="/admin/exam/modify?id=' + record.Exam.ID + '">'+record.Exam.Name+'</a>');
                    }
                }
            },
            { field:'Student.StudentID', caption:'学生学号',width:100,renderer:function(tbl, record, td) {
                if (record.Student && record.StudentID) {
                    td.html('<a title="查看/编辑学生信息" href="/admin/student/modify?id=' + record.Student.ID + '">'+record.Student.StudentID+'</a>');
                }
            }},
            { field: 'Exam.Count', caption: '试题总数', width: 50 },
            { field: 'TotalScore', caption: '总得分', width: 50 },
            {field:'Action',caption:'',width:150,renderer:function(tbl, record, td) {
                var html = ['<a href="/admin/score/'+record.ID+'" class="button primary">详情</a>'];
                td.html(html.join());
            }}
            
        ];
        $("#tableDiv").datatable({
            queryParam:$.extend(filter, {Includes:["Exam", "Student"]}),
            colModel: colModel,
            url: '/admin/score/list',
            cls: 'table striped bordered hovered'
        });
    })
</script>
<div id="tableDiv">
</div>
