@{
    ViewBag.Title = "成绩查看";
    Layout = "~/Areas/Admin/Views/Shared/_Master.cshtml";
}
@section Script
{
    <script type="text/javascript" src="~/Content/Scripts/datatable.js"></script>
}
<script type="text/javascript">
    $(function () {
        var filter = @Html.Raw(ViewBag.Filter);
        var colModel = [
            {
                field: 'Exam.Name', caption: "考试名称", width: 80,renderer:function(tbl, record, td) {
                    if (record.Exam) {
                        td.html( '<a href="/admin/exam/modify?id=' + record.Exam.ID + '"></a>');
                    }
                }
            },
            { field:'Student.StudentID', caption:'学生学号',width:100,renderer:function(tbl, record, td) {
                if (record.Student && record.StudentID) {
                    td.html('<a href="/admin/student/modify?id=' + record.Student.ID + '"></a>');
                }
            }},
            { field: 'Exam.Count', caption: '试题总数', width: 100 },
            { field: 'TotalScore', caption: '分数', width: 100 }
            
        ];
        $("#tableDiv").datatable({
            queryParam:$.extend(filter, {Includes:["Exam", "Student"]}),
            colModel: colModel,
            url: '/admin/score/list',
            cls: 'table striped bordered hovered'
        });
    })
</script>
<div id="tableDiv">
</div>
