@{
    ViewBag.Title = "登录";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}
@section css
{
    <link rel="stylesheet" href="~/Content/Css/Student/login.css"/>
}
<script type="text/javascript">
    $(function () {
        var logging = false;
        $('input[type=button]').on('click', function () {
            if (logging) return;
            var data = $('form').getValues();
            if (!data.username) {
                return;
            }
            if (!data.password) {
                return;
            }
            $.ajax({
                url: '/student/login',
                type: 'POST',
                data: data,
                success: function (res) {
                    logging = false;
                    if (res.success) {
                        window.location.href = "@ViewBag.Url";
                    } else {
                        
                    }
                }
            })
        })
    })
</script>

<form id="login">
    <h1>Log In</h1>
    <fieldset id="inputs">
        <input name="username" type="text" placeholder="enter you ID" autofocus required autocomplete="off" class="username">   
        <input name="password" type="password" placeholder="password" required class="password">
    </fieldset>
    <fieldset id="actions">
        <input type="button" class="submit" value="Log in">
        <input type="button" class="submit register" value="Register"/>
         
    </fieldset>
    
</form>