@model Senluo.Spellet.Models.Course

@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = "查看课程";
    }
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}


<div class="center">
<div class="bg">
	<div class="banner"></div>
	<div class="logo"></div>
	<div class="cloud-tiny "><div class="rewarding">rewarding</div></div>
	<div class="cloud-tiny "><div class="frustrate">frustrate</div></div>
	<div class="cloud-tiny "><div class="former">former</div></div>
	<div class="cloud-tiny "><div class="positive">positive</div></div>
	<div class="cloud-tiny left-600"><div class="intimidate">intimidate</div></div>
	<div class="cloud-tiny left-500"><div class="commitment">commitment</div></div>
	<!-- <div class="cloud-tiny left-400"><div class="discipline">discipline</div></div>	 -->
	
	<div class="bg-left"></div>
	<div class="bg-right"></div>
</div>
</div> 