@model Senluo.Spellet.Models.Course

@{
    if (string.IsNullOrWhiteSpace(ViewBag.Title))
    {
        ViewBag.Title = "查看课程";
    }
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}


<div class="center">
    <div class="bg">
        <div class="banner"></div>
        <div class="logo"></div>
        @if (Model != null && Model.Contents != null && Model.Contents.Any())
        {
            int count = Model.Contents.Count();
            int real = Math.Min(count, 7);
            for (int i = 1; i < count + 1; i++)
            {
                switch (i)
                {
                    case 1:
            <div class="cloud-tiny ">
                <div class="rewarding">@Model.Contents[i].Entry.Word</div>
            </div>
                        break;
                    case 2:
            <div class="cloud-tiny ">
                <div class="frustrate">@Model.Contents[i].Entry.Word</div>
            </div>
                        break;
                    case 3:
            <div class="cloud-tiny ">
                <div class="former">@Model.Contents[i].Entry.Word</div>
            </div>
                        break;
                    case 4:
            <div class="cloud-tiny ">
                <div class="positive">@Model.Contents[i].Entry.Word</div>
            </div>
                        break;
                    case 5:
            <div class="cloud-tiny left-600">
                <div class="intimidate">intimidate</div>
            </div>
                        break;
                    case 6:
            <div class="cloud-tiny left-500">
                <div class="commitment">commitment</div>
            </div>
                        break;
                    case 7:
            <div class="cloud-tiny left-400">
                <div class="discipline">discipline</div>
            </div>
                        break;
                    default:
                        break;
                }
            }
        }
@*<div class="cloud-tiny ">
            <div class="rewarding">rewarding</div>
        </div>
        <div class="cloud-tiny ">
            <div class="frustrate">frustrate</div>
        </div>
        <div class="cloud-tiny ">
            <div class="former">former</div>
        </div>
        <div class="cloud-tiny ">
            <div class="positive">positive</div>
        </div>
        <div class="cloud-tiny left-600">
            <div class="intimidate">intimidate</div>
        </div>
        <div class="cloud-tiny left-500">
            <div class="commitment">commitment</div>
        </div>
        <div class="cloud-tiny left-400">
            <div class="discipline">discipline</div>
        </div>*@

        <div class="bg-left"></div>
        <div class="bg-right"></div>
    </div>
</div>
