@using Senluo.Spellet.Models
@model IEnumerable<Course>

@{
    int preId = (int)ViewBag.pre;
    int nextId = (int)ViewBag.next;
    String preUrl = "student/course/history/" + preId.ToString();
    String nextUrl = "student/course/history/" + nextId.ToString();
}
<script type="text/javascript" src="~/Content/Scripts/Student/history.js"></script>
<script type="text/javascript" src="~/Content/My97DatePicker/WdatePicker.js"></script>


@if (Model != null && Model.Any())
{
    int count = Model.Count();
    int real = Math.Min(count, 8);
    for (int i = 0; i < count; i++)
    {
        if (i % 4 == 0)
        {
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny margin70">
        @Model.ToArray()[i].Name
    </a>}
        else
        {
    <a href="~/student/course/words/@Model.ToArray()[i].ID" class="cloud-tiny ">
        @Model.ToArray()[i].Name
    </a>
        }
    }
}

@if (preId > 0)
{
    <a class="preNext pre" style="opacity: 0.1;" href="Javascript:void(0);" onclick="ajaxQuery(@preId);"></a>
}
@if (nextId > 0)
{
    <a class="preNext next" style="opacity: 0.1;" href="Javascript:void(0);" onclick="ajaxQuery(@nextId);"></a>
}