<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/content/Image/admin.ico">
    <title>Spellet-页面未找到</title>
    <link rel="stylesheet" href="~/Content/Library/metro-bootstrap/min/metro-bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Library/metro-bootstrap/min/metro-bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Library/metro-bootstrap/min/iconFont.min.css" />
    <link rel="stylesheet" href="~/Content/Css/g.css"/>
    <script type="text/javascript" src="~/Content/Library/jquery/jquery-2.0.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Library/jquery/jquery-widget.js"></script>
    <script type="text/javascript" src="~/Content/Library/metro-bootstrap/load-metro.js"></script>
</head>
<body class="metro" style="background-color: #efefef">
    <div style="margin: 0 auto;">
        <div class="shadow" style="margin: auto; height: 500px; width: 943px;">
            <div class="grid ">
                <div class="row ">
                    <div class="span5">
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <img class="" src="~/Content/Image/mend.jpg"/>
                    </div>
                    
                    <div class="span7">
                        
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p class="header">Sorry... 页面没有找到</p>
                        <p>&nbsp;</p>
                        <p class="readable-text">似乎你所寻找的网页已移动或丢失了。</p>
                        <p class="readable-text">或者也许你只是键入错误了一些东西。</p>
                        <p class="readable-text">请不要担心，这没事。如果该资源对你很重要，请与管理员联系。</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <div class="row">
                            <div class="span2"><a href="/admin/home" class="button large bg-taupe fg-white bg-hover-gray"><strong>管理平台</strong></a></div>
                            <div class="span2"><a href="/student/home" class="button large bg-taupe  fg-white bg-hover-gray"><strong>学生平台</strong></a></div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
