@charset "utf-8";

body, p, ul, ol, li, form, img, dl, dt, dd, table, th, td, blockquote, fieldset, div, strong, label, em {
    border: 0 none;
    margin: 0;
    padding: 0;
    font: 12px/1.5 HuaKang,tahoma,arial,'Hiragino Sans GB',\5FAE\8F6F\96C5\9ED1,\5b8b\4f53,sans-serif;
    cursor: default;
}

@font-face {
    font-family: 'HuaKang';
    src: url(/Content/Fonts/hkfont.ttf);
    /*src: url('../fonts/neues_bauen_demo-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/neues_bauen_demo-webfont.woff') format('woff'), url('../fonts/neues_bauen_demo-webfont.ttf') format('truetype'), url('../fonts/neues_bauen_demo-webfont.svg#NeuesBauenDemo') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: HuaKang,Arial,Helvetica,sans-serif,\5B8B\4F53;
    font-size: 12px;
    margin: 0 auto;
    background: #F5F5F5;
}

a {
    TEXT-DECORATION: none;
}

ul li {
    list-style: none;
}

.center {
    width: 1000px;
    margin: 0 auto;
}

.foot {
    position: fixed;
    right: 20px;
    height: 300px;
    top: 100px;
}

.foot-ul {
    background-color: #E7E7E7;
    border: 1px solid #ddd;
}

    .foot-ul li {
        list-style: none;
    }

        .foot-ul li a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            width: 80px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

.banner {
    height: 30px;
}

.bg {
    background: url(/Content/Image/Student/images/Background.jpg) no-repeat;
    width: 1000px;
    height: 700px;
    position: relative;
}

.driver {
    z-index: 999;
    background: url(/Content/Image/dh.png) no-repeat;
    width: 140px;
    position: fixed;
    top: 50%;
    right:2%;
    margin-top: -217px;
    height: 335px;
    padding-top: 97px;
    margin-left: 30px;
}

    .driver a {
        color:#00B0EE;
        display: block;
        height: 91px;
        font-size:25px;
        text-align: center;
    }

        .driver a:hover {
            text-decoration: none;
            color: #32E58C;
        }

.head {
    float: right;
    margin-right: 118px;
}

    .head img {
        cursor: pointer;
        width: 102px;
    }

.logo {
    background: url(/Content/Image/Student/images/Logo.png) no-repeat;
    width: 402px;
    height: 113px;
    margin: 0 auto;
}

.bg-left {
    background: url(/Content/Image/Student/images/Decorate-Left.png) no-repeat;
    width: 827px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bg-right {
    background: url(/Content/Image/Student/images/Decorate-Right.png) no-repeat;
    width: 940px;
    height: 91px;
    bottom: 0;
    right: 0;
    z-index: 5;
    position: absolute;
}

.cloud-original {
    background: url(/Content/Image/Student/images/Decorate-Cloud.png) no-repeat;
    width: 625px;
    height: 400px;
    float: left;
    margin-left: 40px;
    color: #32E58C;
}

.cloud {
    background: url(/Content/Image/Student/images/Decorate-Cloud-big.png) no-repeat;
    width: 350px;
    height: 224px;
    float: left;
}

.cloud-middle {
    background: url(/Content/Image/Student/images/Decorate-Cloud-middle.png) no-repeat;
    width: 300px;
    height: 192px;
    float: left;
}

.cloud-small {
    background: url(/Content/Image/Student/images/Decorate-Cloud-small.png) no-repeat;
    width: 250px;
    height: 160px;
    float: left;
    margin-left: 50px;
}

.cloud-tiny {
    background: url(/Content/Image/Student/images/Decorate-Cloud-tiny.png) no-repeat;
    width: 200px;
    height: 128px;
    float: left;
    position: relative;
    margin-left: 15px;
    margin-top: 55px;
    z-index: 10;
    text-align: center;
    line-height: 128px;
    color: #32E58C;
    font-size: 30px;
}

.margin70 {
    margin-left: 70px;
}

.cloud-tiny a:hover {
    cursor: pointer;
}

.course-today {
    background: url(/Content/Image/Student/images/Course-Today.png) no-repeat center;
    width: 187px;
    height: 47px;
    display: inline-block;
    padding: 50px 0 120px 130px;
}

.course-history {
    background: url(/Content/Image/Student/images/Course-History.png) no-repeat center;
    width: 187px;
    height: 47px;
    display: inline-block;
    padding: 50px 0 120px 130px;
}

.course-self {
    background: url(/Content/Image/Student/images/Self-Test-ch.png) no-repeat center;
    width: 96px;
    height: 47px;
    display: inline-block;
    padding: 10px 0 120px 130px;
}

.course-exam {
    background: url(/Content/Image/Student/images/Test.png) no-repeat center;
    width: 96px;
    height: 47px;
    display: inline-block;
    padding: 10px 0 120px 130px;
}

.course-setting {
    background: url(/Content/Image/Student/images/Course-Setting.png) no-repeat center;
    width: 187px;
    height: 47px;
    display: inline-block;
    padding: 50px 0 120px 130px;
}

.test-setting {
    background: url(/Content/Image/Student/images/Test-Setting.png) no-repeat center;
    width: 187px;
    height: 47px;
    display: inline-block;
    padding: 50px 0 120px 130px;
}

.student-info {
    background: url(/Content/Image/Student/images/Students-Info.png) no-repeat center;
    width: 96px;
    height: 47px;
    display: inline-block;
    padding: 10px 0 120px 130px;
}

.test-info {
    background: url(/Content/Image/Student/images/Test-Info.png) no-repeat center;
    width: 96px;
    height: 47px;
    display: inline-block;
    padding: 10px 0 120px 130px;
}

.add {
    background: url(/Content/Image/Student/images/Add.png) no-repeat center;
    width: 85px;
    height: 55px;
    display: inline-block;
    padding: 10px 0 100px 150px;
}

.modify {
    background: url(/Content/Image/Student/images/Modify.png) no-repeat center;
    width: 168px;
    height: 55px;
    display: inline-block;
    padding: 10px 0 100px 100px;
}

.review {
    background: url(/Content/Image/Student/images/Review.png) no-repeat center;
    width: 145px;
    height: 47px;
    display: inline-block;
    padding: 30px 0 120px 140px;
}

.self-test {
    background: url(/Content/Image/Student/images/Self-Test-en.png) no-repeat center;
    width: 212px;
    height: 47px;
    display: inline-block;
    padding: 30px 0 120px 70px;
}

.congratulations {
    background: url(/Content/Image/Student/images/Congratulations.png) no-repeat center;
    width: 543px;
    height: 83px;
    display: inline-block;
    padding: 10px 0 80px 130px;
}

.test-self {
    background: url(/Content/Image/Student/images/Test-Yourself.png) no-repeat center;
    width: 416px;
    height: 80px;
    display: inline-block;
    padding: 10px 0 40px 280px;
}

.iwant {
    background: url(/Content/Image/Student/images/Quantity-Setting.png) no-repeat center;
    width: 416px;
    height: 80px;
    display: inline-block;
    padding: 10px 0 40px 240px;
}

.number {
    margin-left: 120px;
    margin-top: 36px;
    border: 0;
    background-color: transparent;
    height: 33px;
    line-height: 26px;
    width: 50px;
    font-family: STXinwei;
    font-size: 2.5em;
    color: darkcyan;
    font-weight: 300;
    text-align: center;
}

.are-you-ready {
    background: url(/Content/Image/Student/images/Are-You-Ready.png) no-repeat center;
    width: 492px;
    height: 92px;
    display: inline-block;
    padding: 10px 0 40px 240px;
}

.test-design {
    background: url(/Content/Image/Student/images/Test-Design.png) no-repeat center;
    width: 492px;
    height: 92px;
    display: inline-block;
    padding: 10px 0 40px 240px;
}

.go {
    background: url(/Content/Image/Student/images/Go.png) no-repeat center;
    width: 73px;
    height: 55px;
    display: inline-block;
    padding: 10px 0 70px 130px;
}

.ok {
    background: url(/Content/Image/Student/images/OK.png) no-repeat center;
    width: 73px;
    height: 55px;
    display: inline-block;
    padding: 10px 0 70px 130px;
}

.cloud-area {
    padding: 0 150px;
    overflow: hidden;
}

.cloud-area2 {
    padding-left: 200px;
    overflow: hidden;
}

.serial {
    margin-top: 20px;
    font-size: 22px;
    margin-left: 120px;
}

.words {
    font-size: 60px;
    margin-left: 120px;
    margin-top: 5px;
}

.yinbiao {
    font-size: 22px;
    margin-left: 120px;
}

.meaning {
    font-size: 24px;
    margin-left: 120px;
}

.example {
    font-size: 24px;
    margin-left: 120px;
}

.cloud-tiny div {
    color: #32E58C;
    font-size: 30px;
}

.rewarding {
    position: absolute;
    top: 40px;
    left: 40px;
}

.frustrate {
    position: absolute;
    top: 40px;
    left: 40px;
}

.former {
    position: absolute;
    top: 40px;
    left: 50px;
}

.positive {
    position: absolute;
    top: 40px;
    left: 50px;
}

.intimidate {
    position: absolute;
    top: 40px;
    left: 40px;
}

.commitment {
    position: absolute;
    top: 40px;
    left: 30px;
}

.discipline {
    position: absolute;
    top: 40px;
    left: 40px;
}

.left-750 {
    margin-left: 750px;
}

.left-600 {
    margin-left: 600px;
}

.left-500 {
    margin-left: 500px;
}

.left-400 {
    margin-left: 400px;
}

.left-220 {
    margin-left: 220px;
}

.single-words {
    width: 450px;
    margin: 0 auto;
    padding-top: 140px;
    font-size: 30px;
    padding-left: 20px;
}

.infos {
    color: #32E58C;
    font-size: 35px;
    letter-spacing: 0.5em;
    text-align: center;
}

.last-main {
    width: 880px;
    margin: 0 auto;
}

.english {
    color: #32E58C;
    font-size: 42px;
    letter-spacing: 0.2em;
}

.select-ul {
    width: 150px;
    float: left;
    color: #32E58C;
}

    .select-ul li {
        font-size: 20px;
    }

.last-right {
    width: 350px;
    background-color: #fff;
    padding: 30px;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.title {
    font-size: 20px;
    color: #3BE691;
}

.head-img {
    float: right;
    margin-right: -126px;
    margin-top: 14px;
    cursor: pointer;
}

    .head-img img {
        cursor: pointer;
    }

.search {
    width: 900PX;
    height: 39px;
    line-height: 39px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    font-size: 2.0em;
    color: #00B0EE;
    text-align: right;
    font-weight: 500;
    /*background-color: red;*/
}

    .search .go2 {
        background-size: cover;
        background: url(/Content/Image/Student/images/Decorate-Cloud-go.png) no-repeat;
        width: 60px;
        height: 39px;
        line-height: 39px;
        font-size: 30px;
        float: right;
        text-align: center;
        color: #00B0EE;
    }

.preNext {
    width: 45px;
    height: 100px;
    position: absolute;
    top: 340px;
    background: url(../../Image/Student/images/sprite.png) no-repeat 0 0;
    cursor: pointer;
}

.next {
    right: 20px;
    background-position: right top;
}

.pre {
    left: 20px;
}

.exam {
    width: 98%;
    margin: 5% auto;
}

.list {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    color: #32E58C;
}

.sheet {
    border: 0;
    border-bottom: 2px solid #32E58C;
    background-color: transparent;
    height: 20px;
    line-height: 20px;
    width: 150px;
    font-size: 20px;
    color: #32E58C;
}

.error {
    font-size: 5em;
    margin-top: 100px;
    margin-left: 190px;
    color: red;
}

.error120 {
    font-size: 5em;
    margin-top: 100px;
    margin-left: 120px;
    color: red;
}

/**/
.answer {
    color: red;
    display: none;
}

/**/
.cm_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.cm_dg {
    overflow: hidden;
    position: fixed;
    _position: absolute;
    z-index: 999;
    _TOP: expression(documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/1);
    display: none;
}

.cm_hd, .cm_ct, .cm_ft {
    overflow: hidden;
}

.cm_label {
    width: 100%;
    height: 700px;
    background-color: white;
    float: left;
    position: absolute;
    margin-top: -143px;
    z-index: 11;
}

    .cm_label .cm_ht {
        overflow: hidden;
        height: 50px;
        line-height: 50px;
    }

        .cm_label .cm_ht mh {
            font-weight: bold;
            font-size: 20px;
            float: left;
            width: 300px;
            padding-left: 15px;
            color: #000000;
        }

        .cm_label .cm_ht a {
            float: right;
            width: 39px;
            height: 39px;
            background: url("../images/i/bg_closed.png") center 10px no-repeat;
            display: inline-block;
        }

    .cm_label .cm_bd {
        font-family: \5b8b\4f53;
        overflow: auto;
        padding: 10px;
        height: 600px;
        border: #dcdcdc solid 1px;
        border-left: none;
        border-right: none;
    }

        .cm_label .cm_bd .cm_lm {
            overflow: hidden;
            background: #fafafa;
            padding: 10px;
            height: 200px;
        }

        .cm_label .cm_bd .cm_lu {
            overflow: auto;
            height: 168px;
        }

            .cm_label .cm_bd .cm_lu label {
                float: left;
                width: 191px;
                display: inline-block;
                height: 24px;
                line-height: 24px;
            }

                .cm_label .cm_bd .cm_lu label input {
                    margin-right: 10px;
                    float: left;
                    display: inline;
                    margin-top: 6px;
                }

        .cm_label .cm_bd .cm_ladd {
            margin-top: 5px;
        }

            .cm_label .cm_bd .cm_ladd, .cm_label .cm_bd .cm_ladd dt, .cm_label .cm_bd .cm_ladd dd {
                overflow: hidden;
            }

                .cm_label .cm_bd .cm_ladd dt, .cm_label .cm_bd .cm_ladd dd a {
                    height: 26px;
                    line-height: 26px;
                }

                .cm_label .cm_bd .cm_ladd dd input, .cm_label .cm_bd .cm_ladd dd a {
                    float: left;
                }

                .cm_label .cm_bd .cm_ladd dd input {
                    height: 24px;
                    line-height: 24px;
                    padding: 0 5px;
                    border: #dbdbdb solid 1px;
                    width: 120px;
                }

                .cm_label .cm_bd .cm_ladd dd a {
                    display: inline-block;
                    width: 50px;
                    text-align: center;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    background: #dcdcdc;
                    margin-left: 5px;
                }

                    .cm_label .cm_bd .cm_ladd dd a.cm_ladd_s {
                        color: #ffffff;
                    }

    .cm_label .cm_ft {
        overflow: hidden;
        text-align: center;
        padding: 10px 0;
    }

        .cm_label .cm_ft a {
            height: 32px;
            line-height: 32px;
            text-align: center;
            width: 70px;
            color: #535353;
            display: inline-block;
            margin: 0 10px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            background: #dcdcdc;
            font-size: 14px;
        }


            .cm_label .cm_ft a.cm_label_s {
                color: #ffffff;
                background: #0c67a5;
            }
